.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.p-8 {
  padding: var(--app-base-px);
}
.p-16 {
  padding: calc(var(--app-base-px) * 2);
}
.p-24 {
  padding: calc(var(--app-base-px) * 3);
}

.mt-4 {
  margin-top: calc(var(--app-base-px) - 4px);
}

.mt-8 {
  margin-top: var(--app-base-px);
}
.mt-12 {
  margin-top: calc(var(--app-base-px) + 4px);
}
.mt-16 {
  margin-top: calc(var(--app-base-px) * 2);
}
.mt-20 {
  margin-top: calc(var(--app-base-px) * 2 + 4px);
}
.mt-24 {
  margin-top: calc(var(--app-base-px) * 3);
}

.mb-4 {
  margin-bottom: calc(var(--app-base-px) - 4px);
}
.mb-8 {
  margin-bottom: var(--app-base-px);
}
.mb-12 {
  margin-bottom: calc(var(--app-base-px) + 4px);
}
.mb-16 {
  margin-bottom: calc(var(--app-base-px) * 2);
}
.mb-24 {
  margin-bottom: calc(var(--app-base-px) * 3);
}
.ml-4 {
  margin-left: calc(var(--app-base-px) - 4px);
}
.ml-8 {
  margin-left: var(--app-base-px);
}
.ml-12 {
  margin-left: calc(var(--app-base-px) + 4px);
}
.ml-16 {
  margin-left: calc(var(--app-base-px) * 2);
}
.ml-24 {
  margin-left: calc(var(--app-base-px) * 3);
}
.mr-4 {
  margin-right: calc(var(--app-base-px) - 4px);
}
.mr-8 {
  margin-right: var(--app-base-px);
}
.mr-12 {
  margin-right: calc(var(--app-base-px) + 4px);
}
.mr-16 {
  margin-right: calc(var(--app-base-px) * 2);
}
.mr-24 {
  margin-right: calc(var(--app-base-px) * 3);
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.w-240 {
  width: 240px;
}

/**
 * 鼠标样式, 默认是手型
 */
.cursor {
  cursor: pointer;
}
